@media (min-width: 992px) {
  #navbar-example {
    .nav_text {
      display: none;
    }
  }
}
@media (max-width: 992px) {
  #navbar-example {
    .navbar-nav {
      border-bottom: 0.1rem solid #555;
    }
    .nav-item,
    .nav-link {
      margin-block: 5px !important;
    }
  }
  .SignIn a {
    text-align: center;
  }
  /* HERO */
  #hero {
    height: auto !important;
    .row {
      height: auto !important;
      padding-block: 10rem !important;
    }
  }
  #OurGames {
    .card__3 {
      display: none;
    }
  }
  #footer {
    .foot {
      .one {
        text-align: center;
        margin-bottom: 1rem;
      }
      .two {
        justify-content: center !important;
      }
    }
  }
}

@media (max-width: 768px) {
  .layer__img {
    img {
      aspect-ratio: 16/9 !important;
    }
  }
  #OurGames {
    .card__2,
    .card__3 {
      display: none;
    }
  }
}

@media (max-width: 640px) {
  #hero {
    text-align: center;
    .effect__btn {
      width: 100%;
      margin-block: 1rem;
    }
    .but_2 {
      margin-inline: 0 !important;
    }
  }
  #OurGames {
    .Carousel__btn {
      display: flex;
      flex-direction: column;
      align-items: center !important;
      justify-content: center !important;
    }
    .carousel__btn {
      width: 100% !important;
      margin-block: 2rem;
    }
  }
}
/*  */
html {
  font-size: 58%;
}

@media (max-width: 1023px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 41.6%;
  }
}

@media (max-width: 639px) {
  html {
    font-size: 33.3%;
  }
}

body {
  font-size: 1.6rem;
}
